<%# <%= form_with(model: @user, url: update_profile_user_path(@user), method: "patch") do |f|  %> 
<%= form_with(model: @user, method: "patch") do |f| %>
    <div>
        <%= f.file_field :image %>
    </div>
    <div>
        <%=link_to f.submit, new_twit_path %>
    </div>
<% end %>